.main {
  background: url('https://static.sciencelearn.org.nz/images/images/000/003/176/full/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1522314128');
  background-repeat: no-repeat;
  position: relative;
  width: auto;
  height: 100rem;
  left: 150px;
}
